<?xml version="1.0" encoding="utf-8"?>
<module>
  <assemblies>
    <add assembly="PowerSlice" />
  </assemblies>

  <dojoModules>
    <!-- Add a mapping from alloy to ~/ClientResources/Scripts to the dojo loader configuration -->
    <add name="powerslice" path="Scripts" />
  </dojoModules>
</module>