<?xml version="1.0" encoding="utf-8"?>
<module>
  <assemblies>
    <add assembly="PowerSlice" />
  </assemblies>

  <clientResources>
    <add name="powerslice" path="Scripts/css/powerslice.css" resourceType="Style" />
  </clientResources>

  <dojo>
    <packages>
      <add name="powerslice" location="Scripts" />
    </packages>
    <!-- If you want to replace the on-site Tasks widget, uncomment this -->
    <!--aliases>
      <add from="epi-cms/component/Tasks" to="powerslice/components/Tasks" />
    </aliases-->
  </dojo>

  <clientModule>
    <requiredResources>
      <add name="powerslice" />
    </requiredResources>
  </clientModule>
</module>