<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EPiServer.CMS.Core" version="7.0.586.16" targetFramework="net40" />
  <package id="EPiServer.Find" version="7.0.586.16" targetFramework="net40" />
  <package id="EPiServer.Find.Cms" version="7.0.586.16" targetFramework="net40" />
  <package id="EPiServer.Find.Framework" version="7.0.586.16" targetFramework="net40" />
  <package id="EPiServer.Framework" version="7.0.859.16" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net40" />
</packages>